In [158]:
import pandas as pd
import numpy as np
from scipy import stats

data_excel_0 = pd.DataFrame(pd.read_excel("data.xlsx", sheet_name=0, keep_default_na=False).head(90))
data_excel_1 = pd.DataFrame(pd.read_excel("data.xlsx", sheet_name=1, keep_default_na=False).head(90))

In [159]:
efficiency_data_0 = data_excel_0["Efficiency"]
efficiency_data_1 = data_excel_1["Efficiency"]

k_list  = []
for i in range(0, len(efficiency_data_0)):
    k_list.append(round(abs(efficiency_data_0[i] - efficiency_data_1[i]), 2))

k_means = []
for z in (0, len(k_list), 5):
    k_means.append(np.mean(k_list[z:z+5]))

shapiro_results = []
for j in range(0, len(efficiency_data_0), 5):
    shapiro_results.append(stats.shapiro(k_list[j:j+5]))

/home/arek/PWR/Semestr_3/symulacja_komputerowa/intersection-simulation/Intersection-simulation/venv/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:3904: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/home/arek/PWR/Semestr_3/symulacja_komputerowa/intersection-simulation/Intersection-simulation/venv/lib/python3.12/site-packages/numpy/_core/_methods.py:147: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

H0 - Pochodzi z normalnego,
HA - Nie pochozi z normalnego

In [160]:
normal_test_results = []
for shapiro_test in shapiro_results:
    if shapiro_test[1] > 0.01:
        normal_test_results.append(0)
    else:
        normal_test_results.append(1)

normal_test_results

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [161]:
mean_efficiency_0 = [
    0.20,
    0.20,
    0.19,
    0.23,
    0.24,
    0.24,
    0.26,
    0.26,
    0.26,
    0.32,
    0.31,
    0.32,
    0.36,
    0.33,
    0.37,
    0.42,
    0.41,
    0.41
]

In [162]:
mean_efficiency_1 = [
    0.17,
    0.18,
    0.18,
    0.22,
    0.21,
    0.20,
    0.22,
    0.20,
    0.21,
    0.26,
    0.27,
    0.26,
    0.33,
    0.32,
    0.31,
    0.32,
    0.30,
    0.31
]

In [163]:
combine_efficiency = []
for i in range(len(mean_efficiency_0)):
    combine_efficiency.append(round(abs(mean_efficiency_0[i] - mean_efficiency_1[i]), 2))

Test jednostronny

In [165]:
t_test_results = []
p_value_results = []
H_results = []

for i in range(0, len(k_list), 5):
    t_stat, p_value = stats.ttest_1samp(k_list[i:i+5], 0, alternative='greater')
    if p_value < 0.05:
        H = 0
    else:
        H = 1
    t_test_results.append(t_stat)
    p_value_results.append(p_value)
    H_results.append(H)

In [167]:
data_excel_params = pd.DataFrame(pd.read_excel("data.xlsx", sheet_name=0, keep_default_na=False, usecols="J:L").head(18))

data = pd.DataFrame()
data["Cars"] = data_excel_params['Unnamed: 9']
data["Velocity"] = data_excel_params['Unnamed: 10']
data["Length"] = data_excel_params['Unnamed: 11']
data["Combined Means"] = combine_efficiency
data["Normal Hypotesis"] = normal_test_results
data["t Value"] = t_test_results
data["p Value"] = p_value_results
data["Student Hypotesis"] = H_results

data

,Cars,Velocity,Length,Combined Means,Normal Hypotesis,t Value,p Value,Student Hypotesis
0,100,5,4,0.03,0,9.486833,0.000344,0
1,100,5,4.5,0.02,1,9.000000,0.000422,0
2,100,5,5,0.01,0,3.500000,0.012448,0
3,100,6,4,0.01,0,3.207135,0.016339,0
4,100,6,4.5,0.03,0,4.706787,0.004631,0
5,100,6,5,0.04,0,8.500000,0.000525,0
6,100,7,4,0.04,0,10.155927,0.000265,0
7,100,7,4.5,0.06,0,10.590271,0.000225,0
8,100,7,5,0.05,0,6.646941,0.001330,0
9,500,5,4,0.06,0,16.570197,0.000039,0
10,500,5,4.5,0.04,0,9.000000,0.000422,0
11,500,5,5,0.06,0,16.500000,0.000040,0
12,500,6,4,0.03,1,19.000000,0.000023,0
13,500,6,4.5,0.01,0,2.064187,0.053969,1
14,500,6,5,0.06,0,9.946918,0.000287,0
15,500,7,4,0.10,0,16.431677,0.000040,0
16,500,7,4.5,0.11,0,11.839200,0.000146,0
17,500,7,5,0.10,0,15.811388,0.000047,0