In [36]:
efficiency_1 = [
    0.20,
    0.20,
    0.19,
    0.23,
    0.24,
    0.24,
    0.26,
    0.26,
    0.26,
    0.32,
    0.31,
    0.32,
    0.36,
    0.33,
    0.37,
    0.42,
    0.41,
    0.41
]

In [37]:
efficiency_2 = [
    0.17,
    0.18,
    0.18,
    0.22,
    0.21,
    0.20,
    0.22,
    0.20,
    0.21,
    0.26,
    0.27,
    0.26,
    0.33,
    0.32,
    0.31,
    0.32,
    0.30,
    0.31

]

In [38]:
combine_efficiency = []
for i in range(len(efficiency_1)):
    combine_efficiency.append(round(abs(efficiency_1[i]-efficiency_2[i]),2))

In [39]:
combine_efficiency

[0.03,
 0.02,
 0.01,
 0.01,
 0.03,
 0.04,
 0.04,
 0.06,
 0.05,
 0.06,
 0.04,
 0.06,
 0.03,
 0.01,
 0.06,
 0.1,
 0.11,
 0.1]

In [40]:
import pandas as pd
data = pd.DataFrame(combine_efficiency,columns=['Combined'])
data

    Combined
0       0.03
1       0.02
2       0.01
3       0.01
4       0.03
5       0.04
6       0.04
7       0.06
8       0.05
9       0.06
10      0.04
11      0.06
12      0.03
13      0.01
14      0.06
15      0.10
16      0.11
17      0.10

In [41]:
data.mean()

Combined    0.047778
dtype: float64

Test jednostronny

In [56]:
import numpy as np
from scipy import stats

t_stat, p_value = stats.ttest_1samp(data, 0, alternative='greater')

print(f"Statystyka t: {round(t_stat[0],2)}")
print(f"P-wartość: {round(p_value[0],7)}")

if p_value < 0.05:
    print("Odrzucam H0, przyjmuje Ha")
else:
    print("Odrzucam Ha, przyjmuje H0")

Statystyka t: 6.58
P-wartość: 2.3e-06
Odrzucam H0, przyjmuje Ha